/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port

/node_modules
/log

.repl-history
.rebel_readline_history
.lein-failures

*.db
/.shadow-cljs
/.calva


.sync-exclude.lst
